.exercise{
    height: 15%;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.exerciseName{
    width: 100%;
    text-align: center;
}

/* .exerEditButton{
    margin: 1px;
    margin-left: 50px;
}

.exerDoneButton{
    float: right;
    margin: 1px;
    margin-right: 50px;    
} */

.exerBtn{
    position: relative;
    max-width: 25%;
    margin-right: 5%;
}