.exercise{
    height: 15%;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.exerciseName{
    width: 100%;
    text-align: center;
}

.exerBtn{
    position: relative;
    max-width: 30%;
    margin-left: 2.5%;
}

.deleteBtn{
    width: 75%;
    max-width: 80px;
    margin: auto;
    position: relative;
    top: 25%;
    left: 12.5%;
}